.filter-button {
  background-color: rgb(209 213 219);  /* bg-gray-700 */
  color: rgb(0,0,0);
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.filter-button.active {
  background-color: rgb(37 99 235); /* bg-blue-500 */
}

.card {
  background-color: rgb(209 213 219);  /* bg-gray-300 */
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
  position: relative;
}

.card h3 {
  font-size: 1em;
  font-weight: 650;
}

.card p {
  font-size: 0.9em;
}

.download-button {
  position: absolute;
  top: 1em;
  right: 1em;
  border-radius: 0.25em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.download-arrow {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 1em solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


#loading-indicator {
  display: none; 
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  color: black;
  position: relative;
}

#loading-indicator::before {
  content: '';
  display: block;
  width: 0; 
  height: 0.5em;
  background-color: rgb(37 99 235); /* bg-blue-500 */
  border-radius: 1em;
  margin: 0 auto;
  transition: width 2s ease-in-out;
  animation: load 2s infinite;
}

@keyframes load {
  0%, 100% { width: 10%; }
  50% { width: 100%; } /* Bar expands to full width */
}
