sentence-transformers
pandas
simpletransformers
roformer
torch>=1.12.1
datasets>=2.3.2
torchvision>=0.11.3
torchaudio>=0.10.2
torch_geometric>=2.3.0
transformers>=4.21.0
pytorch-pretrained-biggan>=0.1.1
timm>=0.6.7
diffusers>=0.2.4, <=0.12
requests
Pillow
nltk
sentence_transformers
scipy
numpy
timm
fvcore