# Weekly ci workflow for model zoo.
# Runs model checker for all models

name: Weekly CI with onnx.checker

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '47 05 * * 4'

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
        architecture: ['x64']
        onnx-version: ['1.7']

    steps:
      - uses: actions/checkout@v2
        name: Checkout repo

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.architecture }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install onnx==${{ matrix.onnx-version }} requests
          python workflow_scripts/test_all_onnx_checker.py

    